wheel == 0.44.0
nest_asyncio == 1.6.0
tortoise-orm[aiomysql] == 0.21.6
discord.py == 1.7.3
discord-py-slash-command == 3.0.3
aiohttp # version is dictated by other dependencies
python-dateutil == 2.9.0.post0
fuzzywuzzy == 0.18.0
colour == 0.1.5
psutil == 5.9.0
Pillow == 9.0.1